* {
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.row {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    flex: 1;
}

.display {
    align-items: center;
    border: 0.1px solid;
    border-radius: 4px;
    background-color: #FBBABD;
}

.result {
    justify-content: right;
}

button {
    flex: 1;
    border: 0.1px solid;
    border-radius: 4px;
}

.double {
    min-width: 175px;
}

.operator {
    background-color: #FFC13D;
}

.helper {
    background-color: #94ECD0;
}

.number {
    background-color: #D6D0FF;
}